{% extends 'base.html' %} 
{% load i18n %}

{% block title %}{% translate "Nos événements :" %}{% endblock title %} 


{% block content %}

<section class="text-center max-w-7xl mx-auto pt-36 md:pt-10 px-4 sm:px-6 lg:px-8">

  <!-- Le titre -->
  <div>
    <h1 class="text-4xl font-bold text-slate-900"> {% translate "Nos événements" %}</h1>
    <hr class="w-1/4 mt-5 mx-auto border-slate-900">
  </div>

  {% if user.is_authenticated %}
    {% include "events/all_events_admin.html" %}
  {% else %}
    {% include "events/all_events_visitor.html" %}
  {% endif %}

</section>
{% endblock content %} 